@media only screen and (max-width: 600px) {
  #banner-headings {
    font-size: 2.5rem;
  }
  #banner-subheadings {
    font-size: 1rem;
  }
  #banner-smalltext {
    font-size: .8rem;
  }
  #banner-img {
    width: 70%;
  }
}

@media only screen and (min-width: 600px) {
  #banner-headings {
    font-size: 3rem;
  }
  #banner-subheadings {
    font-size: 1.1rem;
  }
  #banner-smalltext {
    font-size: .8rem;
  }
  #banner-img {
    width: 70%;
  }
}

@media only screen and (min-width: 768px) {
  #banner-headings {
    font-size: 3.5rem;
  }
  #banner-subheadings {
    font-size: 1.2rem;
  }
  #banner-smalltext {
    font-size: .9rem;
  }
  #banner-img {
    width: 70%;
  }
}

@media only screen and (min-width: 992px) {
  #banner-headings {
    font-size: 4rem;
  }
  #banner-subheadings {
    font-size: 1.3rem;
  }
  #banner-smalltext {
    font-size: .9rem;
  }
  #banner-img {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  #banner-headings {
    font-size: 4.5rem;
  }
  #banner-subheadings {
    font-size: 1.3rem;
  }
  #banner-smalltext {
    font-size: .9rem;
  }
  #banner-img {
    width: 80%;
  }
}